
  <div class="content-body">


    <!-- row -->

    <div class="container-fluid">
  <h1>My Google Map</h1>
  <div id="map"></div>
  {{!-- <script>
    var jsonData = $.ajax({
          url: "/dashboard/mapdata/{{this.order_id}}",
          dataType: "json",
          async: false
          }).responseText;
  </script> --}}
  <script>
    function initMap(){
      // Map options
      var options = {
        zoom:8,
        center:{lat:Number({{coords.latitude}}),lng: Number({{coords.longitude}})}
      }

      // New map
      var map = new google.maps.Map(document.getElementById('map'), options);



      

      // Array of markers
      var markers = [
        {
          coords:{lat:Number({{coords.latitude}}),lng: Number({{coords.longitude}})},
          iconImage:'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
          content:'<h1>Lynn MA</h1>'
        },
        {
          coords:{lat:42.8584,lng:-70.9300},
          content:'<h1>Amesbury MA</h1>'
        },
        {
          coords:{lat:42.7762,lng:-71.0773}
        }
      ];

      // Loop through markers
      for(var i = 0;i < markers.length;i++){
        // Add marker
        addMarker(markers[i]);
      }

      // Add Marker Function
      function addMarker(props){
        var marker = new google.maps.Marker({
          position:props.coords,
          map:map,
          //icon:props.iconImage
        });

        // Check for customicon
        if(props.iconImage){
          // Set icon image
          marker.setIcon(props.iconImage);
        }

        // Check content
        if(props.content){
          var infoWindow = new google.maps.InfoWindow({
            content:props.content
          });

          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
        }
      }
    }
  </script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb1yio7R2Bn0AQz9fz6d3W7GC5_v4_6Kw&callback=initMap">
    </script>

    </div>
    </div>
