
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Source</th>
      <th scope="col">Destination</th>
      <th scope="col">Product</th>
      <th scope="col">Vehicle</th>
    </tr>
  </thead>
  <tbody>
    {{#if orders}}
        {{#each orders}}
            <tr>
                <th scope="row"><a href="/dashboard/maps/{{this.id}}">{{this.id}}</a></th>
                <td>{{this.source_id}}</td>
                <td>{{this.destination_id}}</td>
                <td>{{this.product_id}}</td>
                <td>{{this.delivery_id}}</td>
            </tr>
        {{/each}}
    {{/if}}
    
  </tbody>
</table>
